<h2>Por Pais</h2>
 <div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input type="text"
                    name="termino"
                    class="form-control"
                    [(ngModel)]="termino"
                    placeholder="Buscar por país"/> 
            
        </form>
    </div>
 </div>
<hr>
<div *ngIf="hayError"
class="alert alert-danger">
    No se encontro ningun país con este nombre: {{termino}} 
</div>

<div *ngIf="paises.length > 0 " class="row">
     <div class= "col">
        <table  class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Continente</th>
                    <th>Mapa</th>
                    <th>Poblacion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let pais of paises; let i =index"> 
                    <td>{{i+1}}</td>
                    <td>
                        <img class="small-flag"  width="35px" height="35px"  [src]="pais.flags.svg" >
                    </td>
                    <td>{{pais.name.common}}</td>
                    <td>{{pais.continents}}</td>
              
                    
                    <td>
                        <a href={{pais.maps.googleMaps}} target="_blank" onclick="window.open(this.href, this.target, 'width=300,height=400'); return false;">Ubicacion</a>
                            

                    </td>
                    <td>{{pais.population | number }}</td>
                    <td> 
                        <a routerLink="['/pais',pais.alpha2Code]">Ver...</a>
                    </td>
                </tr>
            </tbody>
        </table>
     </div>
</div>